*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    height: 80px;
}
.main-img-box{
    width: 100%;
    height: 500px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.2em;
    font-weight: 900;
}
.articulo-box{
    margin-top: 30px;
    width: 100%;
    display: grid;
    gap: 70px;
    grid-template:" empty-izq articulo1 articulo2 articulo3  empty-der " auto
                  " empty-izq articulo4 articulo5 articulo6  empty-der " auto /
                    1fr         420px    420px      420px        1fr ;

}
.articulo1{
  grid-area: articulo1;


}
.articulo2{
    grid-area: articulo2;
 


}
.articulo3{
      grid-area: articulo3;
    

}
.articulo4{
    grid-area: articulo4;
  
  
  }
  .articulo5{
      grid-area: articulo5;
   
  
  
  }
  .articulo6{
        grid-area: articulo6;
      
  
  }
.img-articulo{
    background-color: rgb(80, 85, 85);
    width: 100%;
    height: 300px;

}
.text-content{
    color: rgb(37, 37, 36);
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: justify;
}

@media only screen and (max-width: 1560px) {
    .articulo-box {
      gap: 30px;
    }
  }
  
  @media only screen and (max-width: 1350px) {
    .articulo-box {
      gap: 10px;
      grid-template:
        "empty-izq articulo1 articulo2 articulo3 empty-der" auto
        "empty-izq articulo4 articulo5 articulo6 empty-der" auto /
        1fr 400px 400px 400px 1fr;
    }
    .img-articulo {
      height: 286px;
    }
  }
  
  @media only screen and (max-width: 1300px) {
    .articulo-box {
      gap: 80px;
      grid-template:
        "empty-izq articulo1 articulo2 empty-der" auto
        "empty-izq articulo3 articulo4 empty-der" auto
        "empty-izq articulo5 articulo6 empty-der" auto /
        1fr 420px 420px 1fr;
    }
    .img-articulo {
      height: 300px;
    }
  }
  
  @media only screen and (max-width: 1050px) {
    .articulo-box {
      gap: 60px;
      grid-template:
        "empty-izq articulo1 empty-der" auto
        "empty-izq articulo2 empty-der" auto
        "empty-izq articulo3 empty-der" auto
        "empty-izq articulo4 empty-der" auto
        "empty-izq articulo5 empty-der" auto
        "empty-izq articulo6 empty-der" auto /
        1fr 450px 1fr;
    }
    .img-articulo {
      height: 360px;
    }
  }
  
  @media only screen and (max-width: 760px) {
    .articulo-box {
      gap: 40px;
      grid-template:
        "empty-izq articulo1 empty-der" auto
        "empty-izq articulo2 empty-der" auto
        "empty-izq articulo3 empty-der" auto
        "empty-izq articulo4 empty-der" auto
        "empty-izq articulo5 empty-der" auto
        "empty-izq articulo6 empty-der" auto /
        1fr 320px 1fr;
    }
    .img-articulo {
      height: 240px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .articulo-box {
      gap: 20px;
      grid-template:
        "empty-izq articulo1 empty-der" auto
        "empty-izq articulo2 empty-der" auto
        "empty-izq articulo3 empty-der" auto
        "empty-izq articulo4 empty-der" auto
        "empty-izq articulo5 empty-der" auto
        "empty-izq articulo6 empty-der" auto /
        1fr;
      justify-items: center;
    }
    .img-articulo {
      height: 180px;
    }
  }
  